.timeline__container{
  @apply flex flex-col p-4;
}
.timeline__box{
  height: 50vh;
  overflow-y: auto;
}
.title{
  @apply mx-auto
}
.p{
  @apply my-2;
}

.img{
  margin:24px 0;
  animation: reveal linear;
  animation-timeline: view(block);
  animation-range: entry 0% cover 50%;
  width: 100%;
}

@keyframes reveal {
  0%{
    opacity: 0;
    scale: 5;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}
